%footer.footer.bg-dark.text-white.py-5
  .container
    .media
      %img.mr-2{src:" {{ 'knack-logo-bw-transparent.png' | theme_image_url }} "}
      .media-body.align-self-center
        %nav.nav.mb-2
          %a{:href => "{% path_to home %}", class: "{% if page.handle == 'home' %}active{% endif %} nav-link"} Home

          {% for category in contents.categories %}
          %a{href: "{% path_to category %}", class: "{% if page.title == category.name %}active{% endif %} nav-link"} {{ category.name }}
          {% endfor %}

          {% for page_in_nav in site.pages %}
          {% if page_in_nav.listed? %}
          {% if page_in_nav.depth == 1 %}
          %a{href: "{% path_to page_in_nav %}", class: "{% if page.fullpath == page_in_nav.fullpath %}active{% endif %} nav-link"} {{ page_in_nav.title }}
          {% endif %}
          {% endif %}
          {% endfor %}

        %p.text-white.mb-0.ml-3.text-muted 
          An initiative of the 
          %a.text-white{href: "https://www.potluckcatering.org"} Potluck Cafe Society 
          {{ now | localized_date: '%Y' }}. 
          Website, a labour of &#x2764; by 
          %a.text-white{href: "mailto:joseph@josephmasongsong.com"} Joseph.

            


