.our-sponsors.bg-white.text-center.py-5
  .container
    %h6.text-center.font-weight-normal.text-dark.mb-4 Our Supporters Include
    .row
      .col-sm-4.align-self-center
        %img.img-fluid{src:" {{ 'vancouverfoundation.png' | theme_image_url }} "}
      .col-sm-4.align-self-center
        %img.img-fluid{src:" {{ 'ledlab.png' | theme_image_url }} "}
      .col-sm-4.align-self-center
        %img.img-fluid{src:" {{ 'eastsideworks.png' | theme_image_url }} "}