

body {
  font-family: 'Lato', sans-serif;
  padding-top: 70px;
  font-size: 1rem;
  color: #5a5a5a;
  font-weight: 400;
}

.btn-lg {
  letter-spacing: 1px;
}

.alert {
  z-index: 3;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  letter-spacing: 1px;
}

span.line-title {
    width: 35px;
    height: 4px;
    display: block;
}

nav.navbar {
  padding: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1) !important;
  .navbar-brand img {
    width: 64px;
  }
  .nav-link {
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 700;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    &:hover {
      color: #AFCD87  !important;
    }
    &.active {
      color: #AFCD87  !important;
    }
  }  
}

.section-spacing {
  padding: 5rem 0;
}

.our-sponsors {
  img {
    width: 200px;
  }
}

.micro-credential-content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8rem;
  ul li {
    margin-bottom: 0.5rem;
  }
}

.micro-credential-description {
  line-height: 1.8rem;
}

.page-header {
  position: relative;
  min-height: 28rem;
  .page-header-caption {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    z-index: 10;
    left: 15%;
    .lead {
      letter-spacing: 1px;
      font-size: 1.125rem;
    }
  }
  &.no-overlay {
    &:after {
      content: none;
    }
  }
  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.45);
  }
}

.page-header-sm {
  position: relative;
  min-height: 16rem;
  .page-header-caption-sm {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 50%;
    transform: translateY(-50%);
    z-index: 10;
    left: 15%;
  }
}

footer {
  color: #fff;
  font-size: 0.9rem;
  letter-spacing: 1px;
  img {
    width: 82px;
  }
  .nav-link {
    padding: 0 1rem;
    border-right: 1px solid #fff;
      &:last-child {
        border: 0;
      }
      &:hover {
        color: #AFCD87;
      }
      &.active {
        color: #AFCD87;
      }
    color: #fff;
  }
  ul {
    list-style: none;
    padding-left: 0;
    li {
      margin-bottom: 0.5rem;
      a {
        border-right: 1px solid #fff;
        &:last-child {
          border: 0;
        }
      }
    }
  }
}

.badge-link {
  text-decoration: none;
  color: #333;
  &:hover {
    text-decoration: none;
    color: #333;
  }
  .badge-description {
    img {
      width: 84px;
    }
    p {
      line-height: 1.8;
    }
  }
}

.form {
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fff;
      opacity: 1; /* Firefox */
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: #fff;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
      color: #fff;
  }
  .form-control {
    padding: 0.75rem 1rem;
    border: 1px solid #fff;
    border-radius: 0.25rem;
    font-size: 1rem;
    background-color: transparent;
    color: #fff;
    &:focus {
      background-color: transparent;
      color: #fff; 
    }
  }
  .control-label, .form-check-label {
    font-weight: 700;
    letter-spacing: 1px;
    color: #fff;
  }
}

.featurette-container {
  .featurette-image {
    height: 445px;
    width: 100%;
    background-color: #777;
  }
  .featurette-heading {
    margin-top: 5rem;
    line-height: 1;
  }  
  a {
    text-decoration: underline;
  }
  .lead {
    line-height: 2;
    font-size: 1rem;
    font-weight: 400;
  }
}

.callout-dark {
  .lead {
    line-height: 1.8;   
    font-size: 1rem;
  }
  a {
    text-decoration: underline;
  }
}


@import "mobile";