---
title: Contact Us
listed: true
is_layout: true
published: true
---
{% extends 'layouts/default' %}

{% block content %}
%section.section-spacing
  .container
    {% if message.errors %}
    .alert.alert-danger.alert-dismissible.fade.show.mb-4
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h5 Form Submission Errors
      %ul.mb-0
        {% for error in message.errors %}
        %li {{error[0] | capitalize}} -  {{error[1]}}
        {% endfor %}
    {% endif %}
    .bg-primary.text-light.p-5
      %h1.text-light{style: "letter-spacing: 1px;"}
        {% editable_text "header", format: raw, rows: 2 %}
        Contact Us
        {% endeditable_text %}
      %span.line-title.bg-light.mb-4
      %form.form{:action => "{{contents.messages.public_submission_url}}", :method => "post"}
        {% csrf_param %}
        %input{:name => "success_callback", :type => "hidden", :value => "/thank_you"}/
        %input{:name => "error_callback", :type => "hidden", :value => "{% path_to page %}"}/
        %input{:name => "form-type", :type => "hidden", :value => "contact"}/
        .form-group
          %label.control-label{:for => "mailform-input-name"} Name
          %input.form-control{:name => "content[name]", :type => "text", :value => "{{ message.name }}"}/
        .row
          .col-sm-6
            .form-group
              %label.control-label Email
              %input.form-control{:name => "content[email]", :type => "email", :value => "{{ message.email }}"}/
          .col-sm-6
            .form-group
              %label.control-label Phone
              %input.form-control{:name => "content[phone]", :type => "text", :value => "{{ message.phone }}"}/
        .form-group
          %label.control-label Message
          %textarea.form-control{:name => "content[body]", :rows => "5"} {{ message.body }}
        .form-check.mb-4
          %input#newsletter.form-check-input{:name => "content[newsletter_opt_in]", :type => "checkbox"}/
          %label.form-check-label{:for => "newsletter_opt_in"}
            Sign me up for newsletter updates
        .form-group.mb-0
          %button.btn.btn-lg.btn-info{:type => "submit"} Send Message
{% endblock %}
