---
title: Contact

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# other unique identifier of this page. To be used with the path_to liquid tag.
# handle: my-page-handle

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"

# Control the display of the page in the back-office.
# display_settings:
#   hidden: true          # hidden for authors?
---
{% extends 'layouts/basic' %}

{% block content/header %}

.bg-primary.py-5.credential-header
  .credential-header-caption
    %h1.text-white Drop Us A Line!
    %span.line-title.bg-white.mb-3
    %p.mb-0.lead.text-white Give us a shout and we will get back to you pronto! We value your feedback.

{% endblock %}

{% block content/main %}

.container

  %form.form{:action => "{{contents.messages.public_submission_url}}", "data-type" => "contact", :method => "post"}
    .row.justify-content-center
      {% csrf_param %}
      %input{:name => "success_callback", :type => "hidden", :value => "/"}/
      %input{:name => "error_callback", :type => "hidden", :value => "/contact"}/
      {% if message.errors %}
      %p The following errors occured:
      %ul
        {% for error in message.errors %}
        %li {{error[0] | capitalize}} -  {{error[1]}}
        {% endfor %}
      {% endif %}
      %input{:name => "form-type", :type => "hidden", :value => "contact"}/
      .col-sm-10
        .form-group
          %label.control-label{:for => "mailform-input-name"} Name *
          %input.form-control{"data-constraints" => "@NotEmpty @LettersOnly", :name => "content[name]", :type => "text", :value => "{{ message.name }}"}/
      .col-sm-5
        .form-group
          %label.control-label{:for => "mailform-input-email"} Email *
          %input.form-control{"data-constraints" => "@NotEmpty @Email", :name => "content[email]", :type => "text", :value => "{{ message.email }}"}/
      .col-sm-5
        .form-group
          %label.control-label{:for => "mailform-input-phone"} Phone
          %input.form-control{"data-constraints" => "@Phone", :name => "content[phone]", :type => "text", :value => "{{ message.phone }}"}/
      .col-sm-10
        .form-group
          %label.control-label{:for => "mailform-input-textarea"} Message *
          %textarea.form-control{"data-constraints" => "@NotEmpty", :name => "content[body]", :rows => "5"} {{ message.body }}
        .form-check.mb-5
          %input#newsletter.form-check-input{:name => "content[newsletter]", :type => "checkbox", :value => ""}/
          %label.form-check-label{:for => "newsletter"}
            Sign me up for newsletter updates
        .form-group
          %button.btn.btn-lg.btn-secondary{:type => "submit"} Send Us A Message


{% endblock %}

{% block content/callout %}

/ .bg-white.py-5
/   .container
/     %p.text-center.font-weight-normal.mb-5 Proudly Supported By
/     / %span.line-title.mb-4.bg-primary.mb-5.mx-auto
/     .row
/       .col-sm-6.text-right.pr-5
/         %img.img-fluid{src:" {{ 'vancouverfoundation.png' | theme_image_url }} ", style: "width: 300px;"}
/       .col-sm-6.pl-5
/         %img.img-fluid{src:" {{ 'ledlab.png' | theme_image_url }} ", style: "width: 300px;"}


{% endblock %}
