---
title: Contact
listed: true
published: true
# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends 'layouts/basic' %}

{% block content/header %}
.bg-primary.py-5.credential-header
  .credential-header-caption
    %h1.text-white 
      {% editable_text "header", format: raw, rows: 2 %}
      Drop Us A Line!
      {% endeditable_text %}
    %span.line-title.bg-white.mb-3
    %p.mb-0.lead.text-white 
      {% editable_text "subheader", format: raw, rows: 2 %}
      Give us a shout and we will get back to you pronto! We value your feedback.
      {% endeditable_text %}
{% endblock %}

{% block content/main %}
.container
  %form.form{:action => "{{contents.messages.public_submission_url}}", "data-type" => "contact", :method => "post"}
    .row.justify-content-center
      {% csrf_param %}
      %input{:name => "success_callback", :type => "hidden", :value => "/"}/
      %input{:name => "error_callback", :type => "hidden", :value => "/contact"}/
      {% if message.errors %}
      %p The following errors occured:
      %ul
        {% for error in message.errors %}
        %li {{error[0] | capitalize}} -  {{error[1]}}
        {% endfor %}
      {% endif %}
      %input{:name => "form-type", :type => "hidden", :value => "contact"}/
      .col-sm-10
        .form-group
          %label.control-label{:for => "mailform-input-name"} Name *
          %input.form-control{"data-constraints" => "@NotEmpty @LettersOnly", :name => "content[name]", :type => "text", :value => "{{ message.name }}"}/
      .col-sm-5
        .form-group
          %label.control-label{:for => "mailform-input-email"} Email *
          %input.form-control{"data-constraints" => "@NotEmpty @Email", :name => "content[email]", :type => "text", :value => "{{ message.email }}"}/
      .col-sm-5
        .form-group
          %label.control-label{:for => "mailform-input-phone"} Phone
          %input.form-control{"data-constraints" => "@Phone", :name => "content[phone]", :type => "text", :value => "{{ message.phone }}"}/
      .col-sm-10
        .form-group
          %label.control-label{:for => "mailform-input-textarea"} Message *
          %textarea.form-control{"data-constraints" => "@NotEmpty", :name => "content[body]", :rows => "5"} {{ message.body }}
        .form-check.mb-5
          %input#newsletter.form-check-input{:name => "content[newsletter]", :type => "checkbox", :value => ""}/
          %label.form-check-label{:for => "newsletter"}
            Sign me up for newsletter updates
        .form-group
          %button.btn.btn-lg.btn-secondary{:type => "submit"} Send Us A Message
{% endblock %}
