---
title: Credential

# true if the page is included in the menu
listed: false

parent: kitchen-skills

# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# other unique identifier of this page. To be used with the path_to liquid tag.
# handle: my-page-handle

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"

# Control the display of the page in the back-office.
# display_settings:
#   hidden: true          # hidden for authors?
---
{% extends layouts/basic %}

{% block content/header %}

.bg-info.py-5.credential-header
  .credential-header-caption
    %h1.text-dark Dish Machine Operator
    %span.line-title.bg-dark.mb-3
    %p.mb-0.lead.text-dark Kitchen Skill Micro-Credential

{% endblock %}

{% block content/main %}

.container
  %h3.text-secondary Description
  %span.line-title.bg-secondary.mb-3
  %p.lead The holder of this badge has completed a minimum of 1 hour of instruction (including some hands-on experience with a commercial dish machine), and has the skills needed to ensure dishes or any food contact surfaces are properly cleaned and sanitized in a commercial or community food program.

  %h3.text-secondary.mt-5 Criteria
  %span.line-title.bg-secondary.mb-3
  %ul{style: "font-size: 1.25rem; font-weight: 300;"}
    %li.mb-2 Demonstrate ability to wash wares with a commercial dish machine, including machine set-up and breakdown of the process
    %li.mb-2 Identify potential problems with industrial dish machines, and initial trouble-shooting steps
    %li.mb-2 Demonstrate how to safely clean and sanitize wares without a dishwasher

  %h3.text-secondary.mt-5 Evidence
  %span.line-title.bg-secondary.mb-3
  %ul{style: "font-size: 1.25rem; font-weight: 300;"}
    %li.mb-2 Attended the Dish Machine Operator learning session and experienced using a commercial dish machine
    %li.mb-2 Completed the Dish Machine Operator quiz

{% endblock %}

{% block content/callout %}
.bg-primary.py-5.text-center
  %h2.mb-3.text-white Download Micro-Credential
  %p.text-white 
    The Knack modules are licensed under a Creative Commons 
    %br
    Attribution-Non-Commercial-No Derivatives 4.0 International License. 
  %a.btn.btn-lg.btn-outline-light{href: "#"} Download Zip File!
{% endblock %}

