---
title: Home page
published: true
handle: home

---
{% extends 'layouts/default' %}



{% block header %}
.page-header.bg-primary.py-5{style: "background: url({% capture image_url %}{% editable_file 'header_image' %}{% endeditable_file %}{% endcapture %}{% if image_url != '' %}{{ image_url | image_url }}{% else %}{{ 'seven.jpg' | theme_image_url }}{% endif %}) center center; background-size: cover;"}
  .page-header-caption.text-light
    %h1
      {% editable_text "index_header", format: raw, rows: 2 %}
      Putting skills to work for impact driven companies
      {% endeditable_text %}
    %p.lead.mb-3
      {% editable_text "index_subheader", format: raw, rows: 2 %}
      Free Soft Skills and Kitchen Skills micro-credential training modules for trainers and social enterprises
      {% endeditable_text %}
    %p.mb-0
      %a.btn.btn-lg.btn-primary{:href => "/what-are-micro-credentials", :role => "button"} Learn More
{% endblock %}


{% block content %}
%section.section-spacing
  .featurette-container
    .container
      .row.pb-5
        .col-md-6
          %h1.mb-2.featurette-heading.text-secondary 
            {% editable_text "row_header", format: raw, rows: 2 %}
            What is Knack?
            {% endeditable_text %}
          %span.line-title.mb-4.bg-info
          %p.lead.mb-4.text-dark 
            {% editable_text "row_content", format: raw, rows: 5 %}
            An initiative of the Potluck Cafe Society, Knack is a supportive training program for individuals with barriers to traditional employment.  Knack uses micro-credentials, or short training modules where industry level certifications are broken down into individual skills.
            {% endeditable_text %}
          %p.lead.mb-0
            %a.font-weight-normal{href: "/what-are-micro-credentials"} What are Micro-Credentials?
        .col-md-5.ml-auto
          .featurette-image.mx-auto.bg-info{style: "background: url({% capture image_url %}{% editable_file 'feature_image_1' %}{% endeditable_file %}{% endcapture %}{% if image_url != '' %}{{ image_url | image_url }}{% else %}{{ 'knack-ballroom.jpg' | theme_image_url }}{% endif %}) center center; background-size: cover;"}
      .row.py-5
        .col-md-6.order-md-2.ml-auto
          %h1.mb-2.featurette-heading.text-secondary 
            {% editable_text "row_header_middle", format: raw, rows: 2 %}
            Put Knack to Work In Your Organization
            {% endeditable_text %}
          %span.line-title.mb-4.bg-primary
          %p.lead.mb-4.text-dark  
            {% editable_text "row_content_middle", format: raw, rows: 5 %}
            This website houses training materials developed during the first 2.5 years of the Knack project. These materials are available under a Creative Commons license for community use.  All we ask is that you credit us for the content you use, and do not try to make money with these modules.
            {% endeditable_text %}
          %p.lead.mb-0
            %a.font-weight-normal.d-inline-block{href: "/categories/soft-skills"} See The Soft Skills
            %a.font-weight-normal.text-secondary.d-inline-block.ml-5{href: "/categories/kitchen-skills"} See The Kitchen Skills
        .col-md-5.order-md-1
          .featurette-image.mx-auto.bg-primary{style: "background: url({% capture image_url %}{% editable_file 'feature_image_2' %}{% endeditable_file %}{% endcapture %}{% if image_url != '' %}{{ image_url | image_url }}{% else %}{{ 'knack-index-facilitation.jpg' | theme_image_url }}{% endif %}) center center; background-size: cover;"}
      .row.pt-5
        .col-md-6.mr-auto
          %h1.mb-2.featurette-heading.text-secondary 
            {% editable_text "row_header_last", format: raw, rows: 2 %}
            What is Next For Knack?
            {% endeditable_text %}
          %span.line-title.mb-4.bg-secondary
          %p.lead.mb-4.text-dark  
            {% editable_text "row_content_last", format: raw, rows: 5 %}
            Potluck is taking the rest of 2018 to reconsider the direction of the Knack training program.  Stay tuned for an update in 2019. Read our 2018 report on learnings, as the Potluck team endeavoured to develop content, deliver training, and match employers and Knack “earners” with employment.
            {% endeditable_text %}
          %p.lead.mb-0
            %a.font-weight-normal.d-inline-block{href: "https://knackengine.s3.us-west-2.amazonaws.com/sites/5b47a7cd0ee3030004a9b69b/assets/5b4833106bd33400042051bc/Knack_Report-on-Findings.pdf"} Read The Report
            %a.font-weight-normal.text-secondary.d-inline-block.ml-5{href: "https://www.potluckcatering.org/newsletter"} Sign Up For The Newsletter
        .col-md-5
          .featurette-image.mx-auto.bg-secondary{style: "background: url({% capture image_url %}{% editable_file 'feature_image_3' %}{% endeditable_file %}{% endcapture %}{% if image_url != '' %}{{ image_url | image_url }}{% else %}{{ 'knack-index-graduation.jpg' | theme_image_url }}{% endif %}) center center; background-size: cover;"}
{% endblock %}

{% block callout %}
{% include 'modules_blurb' %}
{% include 'our_sponsors' %}
{% endblock %}

