---
title: Home page
published: true
handle: home

---
{% extends 'layouts/basic' %}



{% block content/header %}
.bg-primary.py-5.page-header{style: "background: url({% capture image_url %}{% editable_file 'header_image' %}{% endeditable_file %}{% endcapture %}{% if image_url != '' %}{{ image_url | image_url }}{% else %}{{ 'knack-index-cover.jpg' | theme_image_url }}{% endif %}) center center; background-size: cover;"}
  .page-header-caption.text-white
    %h1
      {% editable_text "index_header", format: raw, rows: 2 %}
      Putting skills to work for impact driven companies
      {% endeditable_text %}
    %p.lead 
      {% editable_text "index_subheader", format: raw, rows: 2 %}
      Deep dive expose the truth, boots on the ground NGO circular incubator equal opportunity technology.
      {% endeditable_text %}
    %p.mb-0
      %a.btn.btn-lg.btn-primary{:href => "/what-are-micro-credentials", :role => "button"} Learn More
{% endblock %}




{% block content/main %}
.container.featurette-container
  .row.pb-5
    .col-md-7
      %h1.mb-2.featurette-heading
        {% editable_text "row_header", format: raw, rows: 2 %}
        What is Knack?
        {% endeditable_text %}
      %span.line-title.mb-4.bg-info
      %p.lead.mb-4 
        {% editable_text "row_content", format: raw, rows: 5 %}
        An initiative of the Potluck Cafe Society, Knack is a supportive training program for individuals with barriers to traditional employment.  Knack uses micro-credentials, or short training modules where industry level certifications are broken down into individual skills.
        {% endeditable_text %}
      %p.lead.mb-0
        %a.font-weight-normal{href: "/what-are-micro-credentials"} What are Micro-Credentials?

    .col-md-5
      .featurette-image.mx-auto.bg-info{style: "background: url({% capture image_url %}{% editable_file 'feature_image_1' %}{% endeditable_file %}{% endcapture %}{% if image_url != '' %}{{ image_url | image_url }}{% else %}{{ 'knack-ballroom.jpg' | theme_image_url }}{% endif %}) center center; background-size: cover;"}


  .row.py-5
    .col-md-7.order-md-2
      %h1.mb-2.featurette-heading
        {% editable_text "row_header_middle", format: raw, rows: 2 %}
        Put Knack to Work In Your Organization
        {% endeditable_text %}
      %span.line-title.mb-4.bg-primary
      %p.lead.mb-4 
        {% editable_text "row_content_middle", format: raw, rows: 5 %}
        This website houses training materials developed during the first 2.5 years of the Knack project. These materials are available under a Creative Commons license for community use.  All we ask is that you credit us for the content you use, and do not try to make money with these modules.
        {% endeditable_text %}
      %p.lead.mb-0
        %a.font-weight-normal.d-inline-block{href: "/categories/soft-skills"} See The Soft Skills
        %a.font-weight-normal.text-secondary.d-inline-block.ml-5{href: "/categories/kitchen-skills"} See The Kitchen Skills
    .col-md-5.order-md-1
      .featurette-image.mx-auto.bg-primary{style: "background: url({% capture image_url %}{% editable_file 'feature_image_2' %}{% endeditable_file %}{% endcapture %}{% if image_url != '' %}{{ image_url | image_url }}{% else %}{{ 'knack-index-facilitation.jpg' | theme_image_url }}{% endif %}) center center; background-size: cover;"}


  .row.pt-5
    .col-md-7
      %h1.mb-2.featurette-heading
        {% editable_text "row_header_last", format: raw, rows: 2 %}
        What is Next For Knack?
        {% endeditable_text %}
      %span.line-title.mb-4.bg-secondary
      %p.lead.mb-4 
        {% editable_text "row_content_last", format: raw, rows: 5 %}
        Potluck is taking the rest of 2018 to reconsider the direction of the Knack training program.  Stay tuned for an update in 2019. Read our 2018 report on learnings, as the Potluck team endeavoured to develop content, deliver training, and match employers and Knack “earners” with employment.
        {% endeditable_text %}
      %p.lead.mb-0
        %a.font-weight-normal.d-inline-block{href: "https://knackengine.s3.us-west-2.amazonaws.com/sites/5b47a7cd0ee3030004a9b69b/assets/5b4833106bd33400042051bc/Knack_Report-on-Findings.pdf"} Read The Report
        %a.font-weight-normal.text-secondary.d-inline-block.ml-5{href: "https://www.potluckcatering.org/newsletter"} Sign Up For The Newsletter
    .col-md-5
      .featurette-image.mx-auto.bg-secondary{style: "background: url({% capture image_url %}{% editable_file 'feature_image_3' %}{% endeditable_file %}{% endcapture %}{% if image_url != '' %}{{ image_url | image_url }}{% else %}{{ 'knack-index-graduation.jpg' | theme_image_url }}{% endif %}) center center; background-size: cover;"}
{% endblock %}

{% block content/callout %}
.bg-dark.py-5.text-center
  .container
    .row
      .col-sm-10.mx-auto
        %h2.text-light {% editable_text "header", format: raw, rows: 2 %}Knack's Training Modules{% endeditable_text %}
        %span.line-title.bg-primary.mb-4.mx-auto
        %p.text-light.lead.mb-4
          {% editable_text "subheader", format: raw, rows: 4 %}
          Knack has 7 Soft Skills and 6 Kitchen Skills modules available for download. Each module comes with a facilitator guide, learner handout, short quiz or other evidence of learning, and supplementary workshop materials (i.e. power point presentation). As everyone has different learning styles, Knack’s modules are adaptable to self-directed, one-on-one, or small group facilitation.
          {% endeditable_text %}
        {% for category in contents.categories %}
        %a.btn.btn-lg.btn-outline-light.mr-2{href: "{% path_to category %}"} See The {{ category.name }}
        {% endfor %}  


.bg-white.py-5
  .container
    %h5.text-center.font-weight-normal.mb-5 Proudly Supported By
    .row.text-center
      .col-sm-4.align-self-center
        %img.img-fluid{src:" {{ 'vancouverfoundation.png' | theme_image_url }} ", style: "width: 300px;"}
      .col-sm-4.align-self-center
        %img.img-fluid{src:" {{ 'ledlab.png' | theme_image_url }} ", style: "width: 300px;"}
      .col-sm-4.align-self-center
        %img.img-fluid{src:" {{ 'eastsideworks.png' | theme_image_url }} ", style: "width: 300px;"}

{% endblock %}

