---
title: Kitchen Skills

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
# position: 3

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# other unique identifier of this page. To be used with the path_to liquid tag.
# handle: my-page-handle

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"

# Control the display of the page in the back-office.
# display_settings:
#   hidden: true          # hidden for authors?
---
{% extends soft-skills %}

{% block content/header %}

.bg-primary.py-5.page-header{style: "background: url({{ 'knack-badges-2.jpg' | theme_image_url }}) center center; background-size: cover;"}
  .page-header-caption
    %h1.text-white Kitchen Skills
    %span.line-title.bg-primary.mb-3
    %p.mb-0.lead.text-white Emerging move the needle blended value silo. And innovation black lives matter; justice disrupt; social entrepreneur social capital uplift vibrant. 

{% endblock %}

{% block content/main %}

.row
  .col-lg-4
    .badge-description.mb-5.text-center
      %img.img-responsive.mb-3{src: "{{ 'dish-operator-badge.jpg' | theme_image_url }}"}
      %h4.text-secondary.mb-3 Dish Machine Operator
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
      %a.btn.btn-primary{href: "/credential"} Learn More
  .col-lg-4
    .badge-description.mb-5.text-center
      %img.img-responsive.mb-3{src: "{{ 'knife-skills-badge.jpg' | theme_image_url }}"}
      %h4.text-secondary.mb-3 Knife Skills
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
      %a.btn.btn-primary{href: "/credential"} Learn More

  .col-lg-4
    .badge-description.mb-5.text-center
      %img.img-responsive.mb-3{src: "{{ 'safety-badge.jpg' | theme_image_url }}"}
      %h4.text-secondary.mb-3 Safety
      %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. 
      %a.btn.btn-primary{href: "/credential"} Learn More

  .col-lg-4
    .badge-description.mb-5.text-center
      %img.img-responsive.mb-3{src: "{{ 'sanitation-badge.jpg' | theme_image_url }}"}
      %h4.text-secondary.mb-3 Sanitation
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
      %a.btn.btn-primary{href: "/credential"} Learn More

  .col-lg-4
    .badge-description.mb-5.text-center
      %img.img-responsive.mb-3{src: "{{ 'receiving-badge.jpg' | theme_image_url }}"}
      %h4.text-secondary.mb-3 Storage & Receiving
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
      %a.btn.btn-primary{href: "/credential"} Learn More

  .col-lg-4
    .badge-description.mb-5.text-center
      %img.img-responsive.mb-3{src: "{{ 'tools-badge.jpg' | theme_image_url }}"}
      %h4.text-secondary.mb-3 Tools & Equipment
      %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. 
      %a.btn.btn-primary{href: "/credential"} Learn More

{% endblock %}

{% block content/callout %}
.bg-primary.py-5.text-center
  %h2.mb-3.text-white Download All Kitchen Skills Micro-Credentials
  %p.text-white 
    The Knack modules are licensed under a Creative Commons 
    %br
    Attribution-Non-Commercial-No Derivatives 4.0 International License. 
  %a.btn.btn-lg.btn-outline-light{href: "#"} Download Zip File!
{% endblock %}

