---
title: Thank you
listed: false
published: true
---
{% extends 'layouts/default' %}

{% block header %}
.page-header.bg-primary.no-overlay.py-5
  .page-header-caption
    %h1.text-light
      {% editable_text "header", format: raw, rows: 2 %}
      Message sent successfully
      {% endeditable_text %}
    %span.line-title.bg-light.mb-3
    %p.lead.text-light.mb-0 {% editable_text "subheader", format: raw, rows: 2 %} We will get back to you as soon as possible regarding your inquiry.  {% endeditable_text %}
{% endblock %}
