---
title: What Are Micro-Credentials?
listed: true
published: true
is_layout: true
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends 'layouts/basic' %}

{% block og %}
%meta{:property => "og:title", :content => "What Are Micro-Credentials?"}/
%meta{:property => "og:site_name", :content => "Knack - An Initiative of the Potluck Cafe Society"}/
%meta{:property => "og:url", :content => "{{ page.fullpath }}"}/
%meta{:property => "og:image", :content => "{{ 'micro-banner.jpg' | theme_image_url }}"}/
%meta{:property => "og:description", :content => "Micro-credentials are short training modules where industry level certifications are broken down into individual skills or specific competencies."}/
{% endblock %}

{% block header %}
.page-header.bg-primary.py-5{style: "background: url({% capture image_url %}{% editable_file 'header_image' %}{% endeditable_file %}{% endcapture %}{% if image_url != '' %}{{ image_url | image_url }}{% else %}{{ 'micro-banner.jpg' | theme_image_url }}{% endif %}) top; background-size: cover;"}
  .page-header-caption
    %h1.text-light 
      {% editable_text "header", format: raw, rows: 2 %}
      What are 
      %br
      Micro-Credentials?
      {% endeditable_text %}
    %span.line-title.bg-primary.mb-3
    %p.lead.text-white.mb-0
      {% editable_text "ubheader", format: raw, rows: 2 %}
      Increasing employability among earners
      {% endeditable_text %}

{% endblock %}

{% block content/main %}
.micro-credential-description.text-dark
  {% editable_text "description", format: raw, rows: 5 %}
  <p>Micro-credentials are short training modules where industry level certifications are broken down into individual skills or specific competencies. Similar to a Boy Scouts badge, these micro-credentials signify accomplishments such as completion of a project, mastery of a skill, or marks of experience. When stacked together, micro-credentials help individuals step into the employment continuum.</p><p>Knack’s credentials can be awarded by any supportive organization or institution. This kind of certification is a fundamental change in the way society recognizes learning and achievement—shifting from a traditional books-and-lecture to a model with multiple accessible knowledge streams.</p>
  {% endeditable_text %}
.micro-credential-description.text-dark
  %h3.text-secondary.mt-5 
    {% editable_text "description_header", format: raw, rows: 2 %}How are micro-credentials awarded?{% endeditable_text %}
  %span.line-title.bg-secondary.mb-3
  {% editable_text "description_contd", format: raw, rows: 5 %}
  Originally meant as digital badges, the Knack community currently opts for smaller cards that our learners earn.
  {% endeditable_text %}
.sharethis-inline-share-buttons.mt-4
{% endblock %}
