---
title: What Are Micro-Credentials?

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# other unique identifier of this page. To be used with the path_to liquid tag.
# handle: my-page-handle

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"

# Control the display of the page in the back-office.
# display_settings:
#   hidden: true          # hidden for authors?
---
{% extends 'layouts/simple' %}

{% block content/header %}

.bg-primary.py-5.page-header{style: "background: url({{ 'micro-banner.jpg' | theme_image_url }}) top; background-size: cover;"}
  .page-header-caption
    %h1.text-white 
      What Are 
      %br
      Micro-Credentials?
    %span.line-title.bg-primary.mb-3
    %p.mb-0.lead.text-white Innovation black lives matter; justice disrupt; social entrepreneur social capital uplift vibrant. 

{% endblock %}

{% block content/main %}

%p.lead.mb-4 Micro-credentials are short training modules where industry level certifications are broken down into individual skills or specific competencies. Similar to a Boy Scouts badge, these micro-credentials signify accomplishments such as completion of a project, mastery of a skill, or marks of experience. 
%p.lead.mb-0 When stacked together, micro-credentials help individuals step into the employment continuum. Knack’s credentials can be awarded by any supportive organization or institution. This kind of certification is a fundamental change in the way society recognizes learning and achievement—shifting from a traditional books-and-lecture to a model with multiple accessible knowledge streams.

%h3.text-secondary.mt-5 How are micro-credentials awarded?
%span.line-title.bg-secondary.mb-3
%p.lead Originally meant as digital badges, the Knack community currently opts for smaller cards that our learners earn.

{% endblock %}


{% block content/callout %}
.bg-primary.py-5.text-center
  %h2.mb-3.text-white Take Me To The Training Modules
  %p.text-white 
    The Knack modules are licensed under a Creative Commons 
    %br
    Attribution-Non-Commercial-No Derivatives 4.0 International License. 
  %a.btn.btn-lg.btn-outline-light.mr-2{href: "/soft-skills"} See The Soft Skills
  %a.btn.btn-lg.btn-outline-light{href: "/kitchen-skills"} See The Kitchen Skills
{% endblock %}
