---
title: What Are Micro-Credentials?
listed: true
published: true
is_layout: true
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends 'layouts/basic' %}

{% block og %}
%meta{:property => "og:title", :content => "What Are Micro-Credentials?"}/
%meta{:property => "og:site_name", :content => "Knack - An Initiative of the Potluck Cafe Society"}/
%meta{:property => "og:url", :content => "{{ page.fullpath }}"}/
%meta{:property => "og:image", :content => "{{ 'micro-banner.jpg' | theme_image_url }}"}/
%meta{:property => "og:description", :content => "Micro-credentials are short training modules where industry level certifications are broken down into individual skills or specific competencies."}/
{% endblock %}

{% block content/header %}
.bg-primary.py-5.page-header{style: "background: url({% capture image_url %}{% editable_file 'header_image' %}{% endeditable_file %}{% endcapture %}{% if image_url != '' %}{{ image_url | image_url }}{% else %}{{ 'micro-banner.jpg' | theme_image_url }}{% endif %}) top; background-size: cover;"}
  .page-header-caption
    %h1.text-white 
      {% editable_text "header", format: raw, rows: 2 %}
      What Are 
      %br
      Micro-Credentials?
      {% endeditable_text %}
    %span.line-title.bg-primary.mb-3
    %p.mb-0.lead.text-white {% editable_text "subheader", format: raw, rows: 2 %} Innovation black lives matter; justice disrupt; social entrepreneur social capital uplift vibrant. {% endeditable_text %}
{% endblock %}

{% block content/main %}
.container
  .micro-credential-description
    {% editable_text "description", format: raw, rows: 5 %}
    Micro-credentials are short training modules where industry level certifications are broken down into individual skills or specific competencies. Similar to a Boy Scouts badge, these micro-credentials signify accomplishments such as completion of a project, mastery of a skill, or marks of experience. 
    When stacked together, micro-credentials help individuals step into the employment continuum. Knack’s credentials can be awarded by any supportive organization or institution. This kind of certification is a fundamental change in the way society recognizes learning and achievement—shifting from a traditional books-and-lecture to a model with multiple accessible knowledge streams.
    {% endeditable_text %}
  .micro-credential-description
    %h3.text-secondary.mt-5 
      {% editable_text "description_header", format: raw, rows: 2 %}How are micro-credentials awarded?{% endeditable_text %}
    %span.line-title.bg-secondary.mb-3
    {% editable_text "description_contd", format: raw, rows: 5 %}
    %p.lead Originally meant as digital badges, the Knack community currently opts for smaller cards that our learners earn.
    {% endeditable_text %}

{% endblock %}

{% block content/callout %}
.bg-primary.py-5.text-center
  %h2.mb-3.text-white {% editable_text "header", format: raw, rows: 2 %}Take Me To The Training Modules{% endeditable_text %}
  %p.text-white 
    {% editable_text "subheader", format: raw, rows: 2 %}
    The Knack modules are licensed under a Creative Commons 
    %br
    Attribution-Non-Commercial-No Derivatives 4.0 International License. 
    {% endeditable_text %}
  {% for category in contents.categories %}
  %a.btn.btn-lg.btn-outline-light.mr-2{href: "{% path_to category %}"} See The {{ category.name }}
  {% endfor %}
{% endblock %}
