---
title: Category Template
listed: false
published: true
content_type: "categories"

---

{% extends 'layouts/basic' %}

{% block og %}
%meta{:property => "og:title", :content => "Free {{ category.name }} Training Modules"}/
%meta{:property => "og:site_name", :content => "Knack - An Initiative of the Potluck Cafe Society"}/
%meta{:property => "og:url", :content => "{{ page.fullpath }}"}/
%meta{:property => "og:image", :content => "{{ category.cover_photo.url }}"}/
%meta{:property => "og:description", :content => "Knack, an initiative of the Potluck Cafe Society, is pleased to share with trainers and social enterprises our {{ category.name }} micro-credential training modules."}/
{% endblock %}

{% block content/header %}
.bg-primary.py-5.page-header{style: "background: url({% if category.cover_photo %}{{ category.cover_photo.url }}{% else %}{{ 'knack-badges-kitchen-skills-cover.jpg' | theme_image_url }}{% endif %}) center center; background-size: cover;"}
  .page-header-caption
    %h1.text-white {{ category.name }}
    %span.line-title.bg-primary.mb-3
    %p.mb-3.lead.text-white {{ category.brief }}
    .sharethis-inline-share-buttons
{% endblock %}

{% block content/main %}
.container
  .row
    {% for module in category.modules %}
    .col-lg-6
      .badge-description.mb-5.media
        %img.img-responsive.mb-0.mr-3{src: "{{ module.badge.url }}"}
        .media-body
          %h4.text-secondary.mb-2 {{ module.name }}
          %p.mb-2 {{ module.description | strip_html | truncate: 160 }}
          %a.text-secondary.text-underline{href: "{% path_to module %}"} Read More
    {% endfor %}

{% endblock %}

{% block content/callout %}
.bg-primary.py-5.text-center
  %h2.mb-3.text-white Download All {{ page.title }} Micro-Credentials
  %p.text-white 
    The Knack modules are licensed under a Creative Commons 
    %br
    Attribution-Non-Commercial-No Derivatives 4.0 International License. 
  %a.btn.btn-lg.btn-outline-light{href: "{{ category.file.url }}"} Download Zip File!
{% endblock %}