---
title: Default layout
is_layout: false
---
!!!
%html{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    {% block og %}
    %meta{:property => "og:title", :content => "Free Micro-Credential Training Modules"}/
    %meta{:property => "og:site_name", :content => "Knack - An Initiative of the Potluck Cafe Society"}/
    %meta{:property => "og:url", :content => "{% path_to home %}"}/
    %meta{:property => "og:image", :content => "{{ 'knack-logo-converted.png' | theme_image_url }}"}/
    %meta{:property => "og:description", :content => "Knack, an initiative of the Potluck Cafe Society, is pleased to share with trainers and social enterprises our micro-credential training modules."}/
    {% endblock %}
    %title {{ site.name }}
    %link{href: "{{ 'icon-knack-32x32.png' | theme_image_url }}", rel: "shortcut icon"}
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:300,400,700,900", :rel => "stylesheet"}/
    {{ 'bootstrap.css' | stylesheet_tag }}
    {{ 'application.css' | stylesheet_tag }}
    %script{:async => "async", :src => "//platform-api.sharethis.com/js/sharethis.js#property=5b483d0b32e60f0011a5d937&product=social-ab", :type => "text/javascript"}
  %body
    #wrapper
      {% include 'nav' %}
      {% block header %}
      {% endblock %}
      {% block content %}
      {% endblock %}
      {% block callout %}
      {% endblock %}      
      {% include 'footer' %}
    {{ 'jquery.min.js' | javascript_tag }}
    {{ 'popper.min.js' | javascript_tag }}
    {{ 'bootstrap.min.js' | javascript_tag }}
    {{ 'application.js' | javascript_tag }}
