---
title: Simple
slug: simple
position: 99
listed: false
published: false
is_layout: true
---
{% extends 'layouts/default' %}
{% block content %}
{% block header, short_name: true, priority: 1 %}
{% endblock %}
<main role='main'>
  <div class='container'>
    {% block main, short_name: true %}
    {% endblock %}
  </div>
</main>
{% block callout, short_name: true %}
{% endblock %}
{% endblock %}