---
title: Module Template
listed: false
published: true
content_type: "modules"
---

{% extends layouts/sidebar %}

{% block og %}
%meta{:property => "og:title", :content => "Free {{ module.name }} Training Module"}/
%meta{:property => "og:site_name", :content => "Knack - An Initiative of the Potluck Cafe Society"}/
%meta{:property => "og:url", :content => "{{ page.fullpath }}"}/
%meta{:property => "og:image", :content => "{{ module.badge.url }}"}/
%meta{:property => "og:description", :content => "Knack, an initiative of the Potluck Cafe Society, is pleased to share with trainers and social enterprises our {{ module.name }} micro-credential training module."}/
{% endblock %}

{% block header %}
{% assign download_link = module.file.url %}
{% assign the_download = module.name %}
.page-header-sm.bg-info.py-5
  .page-header-caption-sm
    %h1.text-dark {{ page.title }}
    %span.line-title.bg-dark.mb-0
{% endblock %}

{% block content/main %}
{% include 'download_error' %}
{% include 'download_success' %}
.micro-credential-content.text-dark
  %h3.text-secondary.mb-3 Description
  {{ module.description }}
  %h3.text-secondary.mt-5.mb-3 Criteria
  {{ module.criteria }}
  %h3.text-secondary.mt-5.mb-3 Evidence
  {{ module.evidence }}
  %h3.text-secondary.mt-5.mb-3 Issuer
  %p.mb-3 
    Knack, an initiative of the Potluck Café Society and partnering programs.
    %br
    %a{href: "https://www.knackworks.ca{% path_to module %}"} https://www.knackworks.ca{% path_to module %}   
.sharethis-inline-share-buttons.mt-5
{% endblock %}

{% block content/sidebar %}
{% include 'download_form_sidebar' %}
{% endblock %}


